@import "src/styles/vars";

.positions {
  display: grid;
  grid-gap: 10px;
}

.position {
  display: grid;
  grid-gap: 6px;

  animation: fadeIn 0.25s ease-out;

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-50%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.positionName {
  font-family: "RalewayVariable";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.03em;
  color: $color-blue;
}

.positionPrice {
  font-family: 'MontserratVariable';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: $color-black;
}

.divider {
  border: none;
  border-top: 2px solid $color-blue;
}

.total {
  margin-top: 20px;
  font-family: "RalewayVariable";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: $color-black;
  display: flex;
  justify-content: space-between;
}

.totalPrice {
  font-family: 'MontserratVariable';
  font-size: 22px;
  line-height: 140%;
}
