@import "src/styles/vars";

.card {
  box-shadow: 0px 0px 14px rgba(52, 182, 255, 0.35);
  border-radius: 5px;
  height: min-content;
  overflow: hidden;
}

.sticky {
  @include desktop {
    position: sticky;
    top: 142px;
  }
}
