@import "../../../styles/vars";

.layout {
  max-width: 1220px;
  display: grid;
  grid-template-columns: 414px 756px;
  grid-gap: 50px;
  margin: 24px;

  @include mobile {
    grid-template-columns: 1fr;
    grid-gap: 24px;
  }
}