@import "src/styles/vars";

$ANIMATION_DURATION: 0.25s;

.drawer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  height: 122px;

  background-color: $color-black;
  color: #FFFFFF;

  border-radius: 5px 5px 0 0;

  z-index: 20;

  transition: background-color $ANIMATION_DURATION, height $ANIMATION_DURATION;
}

.drawerOpen {
  height: 100%;
  background-color: white;
  color: $color-black;
}

.content {
  background-color: $color-black;

  transition: background-color $ANIMATION_DURATION,
}

.drawerOpen .content {
  background-color: white;
}

.header {
  padding: 24px;

  background-color: $color-black;
  color: #FFFFFF;
  border-radius: 5px 5px 0 0;

  transition: background-color $ANIMATION_DURATION;
}

.drawerOpen .header {
  background-color: $color-white;
  color: $color-black;
  box-shadow: none;
  top: 0;
}

.arrowButton {
  position: absolute;
  top: 15px;
  right: 9px;
  padding: 15px;
}

.arrow {
  mask-image: url("/assets/calculator/arrow.svg");
  background-color: #FFFFFF;
  mask-size: contain;

  width: 16px;
  height: 10px;

  transform: rotate(180deg);
}

.drawerOpen .arrow {
  background-color: $color-black;
  transform: rotate(0);
}

.title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.03em;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 62px;
  padding: 0 24px;
  background-color: $color-black;
  color: white;
  z-index: 30;

  transition: background-color $ANIMATION_DURATION;
}

.footerOpen {
  background-color: white;
  color: $color-black;
}

.divider {
  border: none;
  border-top: 2px solid #FFFFFF;
}

.footerOpen .divider, .drawerOpen .divider {
  border-top: 2px solid $color-blue;
}

.total {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
}

.totalPrice {
  font-family: 'Montserrat';
  font-size: 18px;
  line-height: 140%;
}



.positions {
  display: grid;
  grid-gap: 10px;
  padding: 0 24px;
}

.position {
  display: grid;
  grid-gap: 6px;
}

.positionName {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.03em;
  color: $color-white;
}

.drawerOpen .positionName {
  color: $color-blue;
}

.positionPrice {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
}

