@import "src/styles/vars";

.button {
  background: $color-black;
  border-radius: 5px;
  padding: 0 30px;
  font-family: "RalewayVariable", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  display: grid;
  align-items: center;
  height: 48px;

  @include desktop {
    &:hover {
      background: $color-black-hover;
    }
  }

  @include mobile {
    height: 42px;
    padding: 0 15px;
    font-size: 14px;
    line-height: 130%;
  }
}

.button:disabled {
  background: #B1B1B1;
}

.fullWidth {
  width: 100%;
}

.outlined {
  border: 2px solid #303030;
  padding: 0 28px;
  color: $color-black;
  background: white;

  @include desktop {
    &:hover {
      background: #f5f5f5;
    }
  }

  @include mobile {
    padding: 0 13px;
  }
}
@include mobile{
  .fullWidthMob{
    width: 100%;
  }
}
