@import "src/styles/vars";

.button {
  background: $color-black;
  border-radius: 5px;
  padding: 13px 30px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #FFFFFF;

  &:hover {
    background: $color-black-hover;
  }
}

.button:disabled {
  background: #B1B1B1;
}

.fullWidth {
  width: 100%;
}

.outlined {
  border: 2px solid #303030;
  padding: 11px 28px;
  color: $color-black;
  background: white;

  &:hover {
    background: #f5f5f5;
  }
}
@include mobile{
  .button{
    padding: 10px 15px;
    font-size: 14px;
  }
}
