.body {
  height: 84px;
  background-color: black;
  color: white;
  cursor: pointer;
  padding-top: 28px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 120%;
  margin:0 35px;
}
