@import "src/styles/vars";

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @include mobile {
    margin-top: 62px;
    overflow: hidden;
  }
}

.main {
  flex-grow: 1;
}

.mainEnter {
  opacity: 0;
  transform: scale(0.95);
}

.mainEnterActive {
  opacity: 1;
  transform: scale(1.0);
  transition: opacity 200ms ease-out, transform 200ms;
}

.mainExit {
  opacity: 1;
  transform: scale(1.0);
}

.mainExitActive {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 200ms ease-out, transform 200ms;
}