@import "src/styles/vars";
.wrapper {
  background-color: $color-black;
  padding-bottom: 50px;
}
.body {
  width: 1220px;
  margin: 0 auto;
  /* display: flex; */
  color: $color-white;
}
.header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 130%;
  color: $color-blue;
  padding-top: 50px;
  margin-bottom: 13px;
}
.qablock {
  border-bottom: $color-blue 3px solid;
  margin-top: 30px;
  &:last-child {
    border-bottom: none;
  }
}

.qaheader {
  display: flex;
  justify-content: space-between;
}
.qaHeaderText {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 130%;
  color: #ffffff;
  padding-top: 30px;
}
.qatext {
  width: 853px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 140%;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-top: 18px;
  display: none;
  /* visibility: hidden; */
  transition:max-height ease-out 3s;
  max-height: 0;
  white-space: pre-line;
  
  /* animation-name: qa-open;
  animation-duration: 1s;
  animation-timing-function: ease; */
}
.qatextactive {
  width: 853px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 140%;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-top: 18px;
  transition:max-height linear 1s;
  max-height: auto;
  white-space: pre-line;
  display: block;
  
  /* animation-name: qa-open;
  animation-duration: 1s;
  animation-timing-function: linear; */
}
.qaHeaderIcon {
  cursor: pointer;
  margin-top: 27px;
}
@keyframes qa-open {
  0%{
    max-height: 0;
  }
  /* 25%{
    height: 65px;
  }
  50%{
    height: 85px;
  }
  75%{
    height: 110px;
  } */
  100%{
    height: auto;
  }
}



@include mobile {
  .body {
    width: 100%;
    padding: 0 24px;
  }
  .wrapper {
    padding-bottom: 24px;
  }
  .header {
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
  }
  .qablock {
    margin-top: 20px;
    &:last-child {
      border-bottom: none;
    }
  }

  .qaheader {
    display: flex;
    justify-content: space-between;
  }
  .qaHeaderText {
    font-size: 20px;
    line-height: 130%;
    padding-top: 20px;
    margin-right: 24px;
    
  }
  .qatext {
    width: 100%;
    height: 0;
    font-size: 16px;
    margin-top: 16px;
    visibility: hidden;
    white-space: pre-line;
  }
  .qatextactive {
    /* width: 853px; */
    height: auto;
    width: 100%;
    font-size: 16px;
    margin-top: 16px;
    display: block;
    white-space: pre-line;
    margin-right: 24px;

  }
  .qaHeaderIcon {
    cursor: pointer;
    margin-top: 27px;
  }
}
