@import "src/styles/vars";
.wrapper {
  background-color: $color-black;
  padding-bottom: 50px;
}
.body {
  width: 1220px;
  margin: 0 auto;
  /* display: flex; */
  color: $color-white;
}
.header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 130%;
  color: $color-blue;
  padding-top: 50px;
  margin-bottom: 13px;
}
.qablock {
  height:3px;
  background-color: $color-blue;
  border-radius: 5px;
  margin-top: 30px;
  
  &:last-child {
    display: none;
  }
}

.qaheader {
  display: flex;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  &:hover{
    color: #ffffff;
  }
}
.qaHeaderText {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 130%;
  /* color: rgba(255, 255, 255, 0.7); */
  padding-top: 30px;
  /* &:hover{
    color: #ffffff;
  } */
}
.qatext {
  width: 853px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 140%;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-top: 18px;
  display: none;
  max-height: 0;
  white-space: pre-line;
}
.qatextactive {
  width: 853px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 140%;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-top: 20px;
  max-height: auto;
  white-space: pre-line;
  display: block;

}
.qaHeaderIcon {
  cursor: pointer;
  margin-top: 27px;
}



@include mobile {
  .body {
    width: 100%;
    padding: 0 24px;
  }
  .wrapper {
    padding-bottom: 24px;
  }
  .header {
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    margin-bottom: 3px;
    padding-top: 24px;
    padding-right: 24px;
  }
  .qablock {
    margin-top: 0px;
    &:last-child {
      border-bottom: none;
    }
  }
  .qaheader {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
  }
  .qaHeaderText {
    font-size: 20px;
    line-height: 130%;
    padding-top: 20px;
    margin-right: 24px;
    width: 222px;
    margin-bottom: 16px;
    color: #ffffff;
    
  }
  .qatext {
    width: 100%;
    height: 0;
    font-size: 16px;
    margin-top: 16px;
    visibility: hidden;
    white-space: pre-line;
  }
  .qatextactive {
    height: auto;
    width: 100%;
    font-size: 16px;
    margin-top: 0px;
    display: block;
    white-space: pre-line;
    margin-right: 24px;
    margin-bottom: 20px;

  }
  .qaHeaderIcon {
    display: block;
    cursor: pointer;
    /* margin-bottom: 34px; */
    margin-top: 0px;

    margin: auto 0;
  }
}
