@import "src/styles/vars";

.content {
  padding: 20px 40px;

  @include mobile {
    padding: 24px;
  }
}

.title {
  font-family: "RalewayVariable";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 130%;
  color: $color-black;
  margin-bottom: 20px;

  @include mobile {
    font-size: 18px;
    margin-bottom: 24px;
  }
}
