@import "src/styles/vars";

.card {
  background: #FFFFFF;
  box-shadow: 0px 0px 14px rgba(52, 182, 255, 0.35);
  border-radius: 5px;
  padding: 20px 40px;
  height: min-content;

  @include mobile {
    box-shadow: none;
    padding: 0;
    width: 100%;
  }
}

.sticky {
  position: sticky;
  top: 112px;
}
