@import "src/styles/vars";

.headerWrapper {
  position: sticky;
  top: 0;
  z-index: 40;

  background: white;
  box-shadow: 0px 0px 14px rgba(52, 182, 255, 0.35);

  @include mobile {
    box-shadow: 0px 2px 6px rgba(52, 182, 255, 0.15);
  }
}

.header {
  width: 1220px;
  height: 112px;
  margin: 0 auto;
  display: flex;
  align-items: center;

  @include mobile {
    width: 100%;
    height: 62px;
    padding: 24px;
    justify-content: space-between;
  }
}

.nav {
  display: flex;
  column-gap: 30px;
  margin-left: 60px;

  @include mobile {
    display: none;
  }
}

.navLink {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: $color-black;
  opacity: 0.5;
  user-select: none;

  &:hover {
    opacity: 1;
  }
}

.navLinkActive {
  opacity: 1;
  pointer-events: none;
}

.actions {
  display: flex;
  column-gap: 30px;
  margin-left: auto;

  @include mobile {
    display: none;
  }
}

.logo {
  @include desktop {
    &:hover {
      opacity: 0.8;
    }
  }

  @include mobile {
    width: 82px;
    height: 14px;
  }
}

.telegramLink {
  &:hover {
    opacity: 0.8;
  }

  @include mobile {
    width: 38px;
    height: 38px;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.burger {
  display: none;

  @include mobile {
    display: initial;
    padding: 10px;
    margin-right: -10px;
  }
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 62px;
  left: 0;
  background-color: rgba(0,0,0,.5);
  overflow: hidden;

  animation: fadeIn $ANIMATION_DURATION ease-out;

  @keyframes fadeIn {
    from {
      background-color: transparent;
    }
    to {
      background-color: rgba(0,0,0,.5);
    }
  }
}

.overlayFadingOut {
  background-color: transparent;
  animation: fadeOut $ANIMATION_DURATION ease-out;

  @keyframes fadeOut {
    from {
      background-color: rgba(0,0,0,.5);
    }
    to {
      background-color: transparent;
    }
  }
}

.menu {
  padding: 24px;
  background: white;

  transition: transform $ANIMATION_DURATION ease-out;
  animation: enter 0.25s ease-out;

  @keyframes enter {
    from {
      transform: translate(0, -100%);
    }
    to {
      transform: translate(0, 0);
    }
  }
}

.menuExiting {
  transform: translate(0, -100%);
  animation: exit 0.25s ease-out;

  @keyframes exit {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(0, -100%);
    }
  }
}

.menuNav {
  display: grid;
  grid-gap: 16px;
}

.menuActions {
  margin-top: 24px;
  display: flex;
  column-gap: 24px;
}
