@import "src/styles/vars";

.header {
  width: 1220px;
  height: 82px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  column-gap: 50px;
  margin-left: 60px;
}

.navLink {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: $color-black;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.navLinkActive {
  opacity: 1;
  pointer-events: none;
}

.button {
  margin-left: auto;
}