@import "src/styles/vars";

.formItem {
  margin-top: 20px;

  @include mobile {
    margin-top: 16px;
  }
}

.label {
  margin-bottom: 20px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 130%;
  color: $color-black;
  white-space: pre-line;

  @include mobile {
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 14px;
    white-space: normal;
  }
}

.nowrap {
  white-space: nowrap;
}

.questionMark {
  position: relative;
  display: inline-block;
  background: url(/assets/calculator/questionMark.svg);
  background-size: contain;
  width: 32px;
  height: 32px;
  margin-left: 7px;
  margin-top: -2px;
  vertical-align: middle;
  z-index: 30;

  &:hover {
    background: url(/assets/calculator/questionMarkFilled.svg) center/contain;

    .helpPopover {
      display: grid;
    }
  }

  @include mobile {
    width: 20px;
    height: 20px;
    margin-left: 5px;
  }

  @include preload {
    content:
            url(/assets/calculator/questionMarkFilled.svg)
            url(/assets/calculator/arrowPopover.svg)
            url(/assets/calculator/arrowPopoverTop.svg);
  }
}

.helpPopover {
  display: none;
  grid-gap: 14px;
  position: absolute;
  top: 16px;
  padding: 14px 16px;
  background: $color-black;
  width: max-content;
  z-index: 1;

  @include mobile {
    grid-gap: 12px;
    width: calc(100vw - 48px);
  }
}

.helpPopoverRight {
  left: 62px;
  border-radius: 0 5px 5px 5px;

  .arrowPopover {
    top: 0;
    left: -19px;
    width: 19px;
    height: 22px;
    background: url(/assets/calculator/arrowPopover.svg);

    @include mobile {
      transform: scaleX(-1) translateX(-20px);
    }
  }
}

.helpPopoverLeft {
  right: 16px;
  top: 63px;
  border-radius: 5px 0 5px 5px;

  .arrowPopover {
    top: -19px;
    right: 0;
    width: 22px;
    height: 19px;
    background: url(/assets/calculator/arrowPopoverTop.svg);
  }
}

.helpPopoverBottom {
  composes: helpPopoverLeft;
  right: 0;
  top: 45px;
  border-radius: 5px;
}

.arrowPopover {
  position: absolute;
}

.helpContent {
  white-space: pre-line;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #FFFFFF;

  @include mobile {
    white-space: normal;
    font-size: 12px;
    line-height: 14px;
  }
}

.helpItemHeader {
  color: $color-blue;
}

