.button {
    background: #FFFFFF;
    border-radius: 5px;
    padding: 13px 30px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 22px;
    letter-spacing: 0.03em;
    color: black;
    margin-left: 20px;
    margin-top: 26px;
    
    }
.activebutton{
  background: black;
    border-radius: 5px;
    padding: 13px 30px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 22px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-left: 20px;
    margin-top: 26px;
    
}