.button {
    background: #FFFFFF;
    border-radius: 5px;
    padding: 13px 30px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 22px;
    letter-spacing: 0.03em;
    color: #303030;
    margin-left: 20px;
    margin-top: 24px;
    &:hover {
      background: #444444;
      color: #FFFFFF;
    }
    }
.activebutton{
  background: #303030;
    border-radius: 5px;
    padding: 13px 30px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 22px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-left: 20px;
    margin-top: 24px;
    
}