@import "src/styles/vars";

.container {
  position: relative;
}

.header {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #52AEFF;
  margin-bottom: 16px;
}

.select {
  height: 38px;
  background: white;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  column-gap: 21px;
  padding: 0 30px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: $color-black;

  user-select: none;

  &:hover {
    background: $color-blue-hover;
  }

  @include mobile {
    width: 100%;
    height: 38px;
    padding: 0 15px;
    font-size: 14px;
    line-height: 130%;
    column-gap: 10px;
  }
}

.selectedOption {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  margin-right: 20px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  height: 100%;
}

.selectActive {
  background: $color-blue;
  color: #FFFFFF;

  &:hover {
    background: $color-blue;
  }
}

.listItem {
  composes: select;
  border-radius: 0;

  @include mobile {
    height: auto;
    padding: 12px 15px;
  }
}

.listItemActive {
  composes: selectActive;

  &:hover {
    background: $color-blue;
  }
}

.arrow {
  width: 24px;
  height: 15px;
  background: url("../../../assets/calculator/arrow.svg") no-repeat;
  background-size: contain;
  flex-shrink: 0;
  margin-left: auto;
  transition: transform 0.25s ease-out;

  @include mobile {
    width: 16px;
    height: 11px;
  }
}

.popover {
  position: absolute;
  top: 58px;
  left: 0;
  right: 0;
  overflow: hidden;
  box-shadow: 0px 0px 14px rgba(52, 182, 255, 0.35);
  border-radius: 5px;
  background: white;
  z-index: 20;

  @include mobile {

  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 10;
}

.circle {
  width: 22px;
  height: 22px;
  border: 3px solid #303030;
  border-radius: 50%;

  @include mobile {
    width: 18px;
    height: 18px;
    border-width: 2px;
  }
}

.selectedOption, .listItemActive {
  .circle {
    border-color: white;
  }
}

.done {
  margin-top: -3px;
  margin-right: -3px;

  @include mobile {
    width: 20px;
    height: 20px;
    margin-right: -2px;
  }
}
