.wrapper{
    width: 1230px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 50px;
}

.header {
  width: 570px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 130%;
  color: #303030;
}
