* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    border: none;
    cursor: pointer;
}

img {
    display: block;
}

/* Scrollbar */
body::-webkit-scrollbar {
    width: 25px;               /* width of the entire scrollbar */;
}

body::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #52AEFF;    /* color of the scroll thumb */
    border-radius: 50px;       /* roundness of the scroll thumb */
    border: 5px solid white;  /* creates padding around scroll thumb */
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #71baff;    /* color of the scroll thumb */
}

body {
    overflow: overlay;
}

/* Scrollbar for firefox */
html {
    scrollbar-width: auto;          /* "auto" or "thin" */
    scrollbar-color: #52AEFF transparent;   /* scroll thumb and track */
}