/*:root {*/
/*    color-scheme: only light;*/
/*}*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    -webkit-user-drag: none;
}

button {
    border: none;
    cursor: pointer;
    background: none;
}

button:disabled {
    cursor: initial;
}

img {
    display: block;
}

input, textarea {
    border: none;
    outline: none;
}

/* Scrollbar */
body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */;
}

body::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #52AEFF;    /* color of the scroll thumb */
    border-radius: 50px;       /* roundness of the scroll thumb */
    border: 2px solid white;  /* creates padding around scroll thumb */
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #71baff;    /* color of the scroll thumb */
}

body {
    overflow: overlay;
    color: #52AEFF;
    font-family: 'Raleway';
    background: white !important;
}

/* Scrollbar for firefox */
html {
    scrollbar-width: auto;          /* "auto" or "thin" */
    scrollbar-color: #52AEFF transparent;   /* scroll thumb and track */
}

/* Swiper */
.service-head .swiper-slide{
    width: auto!important;
    padding-left: 10px;
    padding-right: 10px;
}
.service-head .swiper-slide:first-child{

    padding-left: 24px;

}
.service-head .swiper-slide:last-child{
    padding-right: 24px;

}
.service-body .swiper-slide{
 height: auto;
}


/* For sticky header */
@media (min-width: 700px) {
    [id] {
        scroll-margin-top: 112px;
    }
}
@media (max-width: 699px) {
    [id] {
        scroll-margin-top: 62px;
    }
}
