@import "src/styles/vars";
.wrapper {
  background: $color-blue;
  /* background-image: url("../../../assets/main/bgBannerFull.webp");
  background-position: top 0px left 489px;
  background-repeat: no-repeat;
  background-size: contain; */overflow: hidden;
}
/* .bodybanner {
  background-image: url("../../../assets/main/bgBannerFull.webp");
  background-position: top 0px left 525px;
  background-repeat: no-repeat;
  background-size: contain;
} */
.body {
  width: 1220px;
  height: 480px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  
}
.img {
 /*  height: 480px;
  width: 980; */
  position: absolute;
  top:0px;
  left:320px;
  z-index: 1;
  overflow: hidden;
}
.imgsize{
  height: 480px;
  /* width: 980px; */
}
/*  @media (min-width: 1520px) {
  .wrapper {
    background-image: url("");
  }
  .bodybanner {
    margin: 0 auto;
    max-width: 1565px;
    background-image: url("../../../assets/main/bgBannerFull.webp");
    background-position: top 0px left 582px;
    background-repeat: no-repeat;
    background-size: contain;
} */
/* }  */
.h1 {
  color: $color-white;
  padding-top: 100px;
  white-space: pre-line;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  z-index: 123;
}
.text {
  color: $color-white;
  align-items: flex-start;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 130%;
  padding-top: 20px;
}
.button {
  padding-top: 60px;
}
@include mobile {
  .wrapper {
    width: 100%;
    padding: 0 24px;
    background: $color-blue;
    background-image: url("../../../assets/main/new_bg_641-617.webp");
    background-position: bottom 0px right;
    background-repeat: no-repeat;
    background-size: 641px 617px ;
  }
  .bodybanner {
    background-image: none;
  }
  .img {
    display: none;
  }
  .body {
    width: 100%;
    height: auto;
  }
  .h1 {
    padding-top: 24px;
    font-size: 22px;
    padding-right: 2px;
    font-family:"Montserrat";
    font-style: normal;
    font-weight: 900;
    line-height: 130%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
  }
  .text {
    font-size: 22px;
    color: #fdfeff;
    padding-top: 16px;
  }
  .button {
    padding-top: 165px;
    padding-bottom: 24px;
  }
}
