.wrapper {
  width: 1230px;
  margin: 0 auto;
}
h1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 130%;
  color: #52aeff;
  margin-top: 30px;
}
.link {
  display: block;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #303030;
  opacity: 0.5;
  margin-top: 20px;
  cursor: pointer;
}
