@import "src/styles/vars";

.footer {
  margin-top: 80px;

  @include mobile {
    margin-top: 40px;
  }
}

.top {
  height: 328px;
  padding-top: 50px;
  position: relative;
  background: $color-blue url("/assets/common/footerBg.svg") no-repeat;

  @include mobile {
    height: auto;
    padding: 24px 24px 60px 24px;
    background: $color-blue url("../../../../src/assets/common/footerBgMobile.svg") no-repeat;
    background-position: right;
    background-size: cover;
  }
}

.menu {
  max-width: 1220px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  column-gap: 136px;

  @include mobile {
    flex-direction: column;
    row-gap: 40px;
  }
}

.columnTitle {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 130%;
  color: #FFFFFF;

  @include mobile {
    font-size: 24px;
    line-height: 130%;
  }
}

.columnItems {
  display: grid;
  grid-gap: 17px;
  margin-top: 30px;

  @include mobile {
    margin-top: 24px;
    grid-gap: 16px;
    max-width: 250px;
  }
}

.columnItem {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: $color-black;

  &:hover {
    color: $color-black-hover
  }
}

.bottom {
  height: 82px;
  background: $color-black;

  @include mobile {
    height: 78px;
  }
}

.bottomContent {
  max-width: 1220px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  column-gap: 12px;

  @include mobile {
    padding: 24px;
  }
}

.mailIcon {
  width: 30px;
  height: 30px;
  background: url("../../../../src/assets/common/mail.svg");
}

.email {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 140%;
  letter-spacing: 0.03em;
  color: #FFFFFF;

  @include mobile {
    font-size: 18px;
    line-height: 120%;
  }
}
