@import "src/styles/vars";
.wrapper {
  width: 1220px;
  /* height: 480px; */
  margin: 0 auto;
  display: flex;
  padding-top: 94px;
}
.left {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 130%;
  width: 642px;
  color: #303030;
}
.right {
  width: 460px;
  height: 168px;
  background-color: $color-blue;
  margin-left: 118px;
  background-image: url("../../../assets/main/speed.svg");
  background-position: right bottom;
  background-repeat: no-repeat;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 130%;
  color: #ffffff;
  padding-top: 30px;
  padding-left: 34px;
  border-radius: 5px;
}
